
:root {
    --azul-marinho: #00334e;
    --azul-ceu: #4ba3c7;
    --azul-claro: #e0f7ff;
    --branco: #ffffff;
    --laranja: #fca311;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--azul-claro);
    color: var(--azul-marinho);
  }
  