
.section-corals {
    padding: 2rem;
    background-color: var(--azul-ceu);
  }
  .section-title {
    text-align: center;
    font-size: 2rem;
    color: var(--branco);
  }
  .list-corals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  